
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" ><i class="fa fa-fw fa-bars"></i> </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fa fa-fw fa-refresh"></i> </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fa fa-fw fa-times"></i> </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa fa-fw fa-circle"></i> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">dashboard@poslabs.com </a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-fw fa-cog"></i> </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"><i class="fa fa-fw fa-globe"></i> </a>
            </li>
        </ul>
    </div>
  </nav>
  
  
  
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#"><h5> Reports <b> - Cashout</b> </h5> </a>
        </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item pull-right">
            <a class="nav-link" href="#">Bar & Grill LA</a>
        </li>
        </ul>
    </div>
  </nav>
  
  <div class="hr" style="border-top: 3px solid #ff007f; margin: 0rem 0"></div>
  