
<div class="wrapper">
    <nav id="sidebar">
        <div class="sidebar-header">
            <h4>POSLab</h4>
            <h6 style="color: darkgrey;">Rakesh Kishan</h6>
        </div>

        <ul class="list-unstyled components">
            <p>Home</p>
            <li [routerLinkActive]="['active']">
                <a href="#restSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" (click)="toggle()">Restaurant</a>
                <ul class="collapse list-unstyled" id="restSubmenu">
                    <li [routerLinkActive]="['active']">
                        <a routerLink="/restaurant" >Restaurant 1</a>
                    </li>
                </ul>
            </li>
            <li [routerLinkActive]="['active']" >
              <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">sales</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Menus</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >Employees</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Customer</a>
            </li>
         <li [routerLinkActive]="['active']">
          <a href="#reportsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Reports</a>
          <ul class="collapse list-unstyled" id="reportsSubmenu">
              <li [routerLinkActive]="['active']">
                  <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"> Sale</a>
              </li>
              <li [routerLinkActive]="['active']">
                <a href="#laborSubmenu"  data-toggle="collapse" aria-expanded="false" class="dropdown-toggle" >Labor</a>
                <ul class="collapse list-unstyled" id="laborSubmenu">
                  <li [routerLinkActive]="['active']">
                    <a routerLink="/labor/employee">Employee</a>
                </li>
                <li [routerLinkActive]="['active']">
                  <a routerLink="/labor/role">Role</a>
                </li>
                <li [routerLinkActive]="['active']">
                  <a routerLink="/labor/cashout">Cashout</a>
                </li>
                <li [routerLinkActive]="['active']">
                  <a routerLink="/labor/ADPPayroll">ADP Payroll</a>
                </li >
                <li [routerLinkActive]="['active']">
                  <a routerLink="/labor/payroll">Payroll</a>
                </li>
                </ul>
              </li>
              <li [routerLinkActive]="['active']">
                <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Comp</a>
              </li>
              <li [routerLinkActive]="['active']">
                <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Products</a>
              </li>
              <li [routerLinkActive]="['active']">
                <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Operating</a>
              </li>
          </ul>
         </li>
         <p>Online Storefront <br>
           <small style="color: darkorange;"> coming soon </small>
         </p>
              <li [routerLinkActive]="['active']">
                <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Account Settings</a>
            </li>
            <li [routerLinkActive]="['active']">
              <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Setting</a>
            </li>
              <li [routerLinkActive]="['active']">
              <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Feedbacks</a>
            </li>
              <li [routerLinkActive]="['active']">
              <a href="#" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sign Out</a>
            </li>
        </ul>
  
    </nav>
  
    <div>
      <nav>
        
      </nav>
    </div>
    <!-- Page Content
    <div id="content">
  
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
  
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
        </nav>
    </div> -->
  </div>
